*.tmp
build/
/koodi/viikko2/NhlStatistics1/.nb-gradle/
/koodi/viikko2/RiippuvuuksienInjektointi1/.nb-gradle/
/koodi/viikko2/RiippuvuuksienInjektointi2/.nb-gradle/
/koodi/viikko2/RiippuvuuksienInjektointi3/.nb-gradle/
/koodi/viikko2/Verkkokauppa1/.nb-gradle/
/viikko4/TyhjaProjekti/.nb-gradle/
/viikko5/viikko5/MockitoDemo/.nb-gradle/
/viikko5/viikko5/MatkakorttiMockito/.nb-gradle/
/viikko5/viikko5/IntJoukkoSovellus/.nb-gradle/
/viikko5/viikko5/Tennis/.nb-gradle/